@model culinaryConnect.Domain.Entities.User.UserRegisterModel
@{ Layout = "~/Views/Shared/layouts/_EmptyLayout.cshtml"; }

<div class="bg-white">
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="text-center mb-4">Sign Up</h3>
                    @using (Html.BeginForm("Register", "Signup", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="name">Full Name</label>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Enter full name", required = "required" })
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control", type = "email", placeholder = "Enter email", required = "required" })
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            @Html.PasswordFor(m => m.UserPassword, new { @class = "form-control", placeholder = "Enter password", required = "required" })
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Sign Up</button>
                        <p class="text-center mt-3">
                            Already have an account?
                            <a href="@Url.Action("Index", "Login")" class="text-primary">Login</a>
                        </p>
                    }
                    @if (ViewBag.ErrorMessage != null){
                        <div class="alert alert-danger mt-3">@ViewBag.ErrorMessage</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
