
@{
    ViewBag.Title = "Index";
}
@model IEnumerable<culinaryConnect.Domain.Entities.Recipe.RecipeDetails>
<!-- Recipe Section Begin -->
<section class="recipe-section spad">
    <div class="container">
        <div class="row">
            @foreach (var recipe in Model.Take(3))
            {
                <div class="col-lg-4 col-sm-6">
                    <div class="recipe-item">
                        <a href="#"><img src="@Url.Content("~/Content/Images/recipe/" + recipe.Image)" alt=""></a>
                        <div class="ri-text">
                            <div class="cat-name">@recipe.Category</div>
                            <a href="#">
                                <h4>@recipe.Title</h4>
                            </a>
                            <p>@recipe.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="recipe-pagination">
                    <a href="#" class="active">01</a>
                    <a href="#">02</a>
                    <a href="#">03</a>
                    <a href="#">04</a>
                    <a href="#">Next</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recipe Section End -->

<!-- Categories Feature Recipe Section Begin -->
<section class="categories-feature-recipe spad">
    <div class="section-title">
        <h5>Featured Recipes</h5>
    </div>
    <div class="container po-relative">
        <div class="plus-icon">
            <i class="fa fa-plus"></i>
        </div>
        <div class="row">
            <div class="col-lg-7">
                @foreach (var recipe in Model.Skip(3))
                {
                    <div class="cfr-item">
                        <div class="cfr-item-img set-bg" data-setbg="@Url.Content("~/Content/Images/cat-feature/"+recipe.Image)">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="cfr-item-text">
                            <div class="cat-name">@recipe.Category</div>
                            <a href="#">
                                <h4>@recipe.Title</h4>
                            </a>
                            <p>
                                @recipe.Description
                            </p>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-4 offset-lg-1">
                @foreach (var recipe in Model)
                {
                    <div class="cfr-small-item">
                        <a href="#"><img src=@Url.Content("~/Content/Images/cat-feature/small-" + recipe.Id +".jpg") alt=""></a>
                        <div class="cfr-small-text">
                            <div class="cat-name">@recipe.Category</div>
                            <h6> @recipe.Title </h6>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Categories Feature Recipe Section End -->
