
@{
    ViewBag.Title = "Index";
}
@model Culinary_connect_web.DTO.RecipesListDTO
<!-- Recipe Section Begin -->
<section class="recipe-section spad">
    <div class="container">
        <div class="row">
            @foreach (var recipe in Model.RecipeList.Take(3))
            {
                <div class="col-lg-4 col-sm-6">
                    <div class="recipe-item">
                        <a href="#"><img src="@Url.Content("~/Content/Images/recipe/" + recipe.ImagePath)" alt=""></a>
                        <div class="ri-text">
                            @{ var category = Model.Categories.FirstOrDefault(c => c.Id == recipe.CategoryID);}
                            <div class="cat-name">@category.Name</div>
                            <a href="@Url.Action("Index", "Recipe", new {id=recipe.Id})">
                                <h4>@recipe.Title</h4>
                            </a>

                            <small class="text-muted">de @recipe.Author.Name pe @recipe.CreatedDate</small>
                            <p>@recipe.AboutRecipe.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="recipe-pagination">
                    <a href="#" class="active">01</a>
                    <a href="#">02</a>
                    <a href="#">03</a>
                    <a href="#">04</a>
                    <a href="#">Next</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recipe Section End -->

<!-- Categories Feature Recipe Section Begin -->
<section class="categories-feature-recipe spad">
    <div class="section-title">
        <h5>Featured Recipes</h5>
    </div>
    <div class="container po-relative">
        <div class="plus-icon">
            <i class="fa fa-plus"></i>
        </div>
        <div class="row">
            <div class="col-lg-7">
                @foreach (var recipe in Model.RecipeList.Skip(3))
                {
                    <div class="cfr-item">
                    <div class="cfr-item-img set-bg"
                         data-setbg="@Url.Content("~/Content/Images/recipe/" + recipe.ImagePath)" style="height:200px">
                        <i class="fa fa-plus"></i>
                        </div>
                    <div class="cfr-item-text">
                        @{ var category = Model.Categories.FirstOrDefault(c => c.Id == recipe.CategoryID);}
                        <div class="cat-name">@category.Name</div>
                        <a href="@Url.Action("Index", "Recipe", new { id = recipe.Id })">
                            <h4>@recipe.Title</h4>
                        </a>
                        <small class="text-muted">de @recipe.Author.Name pe @recipe.CreatedDate</small>

                        <p>
                            @recipe.AboutRecipe.Description
                        </p>
                    </div>
                    </div>
                }
            </div>
            <div class="col-lg-4 offset-lg-1">
                @foreach (var recipe in Model.RecipeList)
                {
                    <div class="cfr-small-item">
                        <a href="@Url.Action("Index", "Recipe", new {id=recipe.Id})">
                            <img src=@Url.Content("~/Content/Images/recipe/" + recipe.ImagePath) style="height:75px" alt="@recipe.Title">
                        </a>
                        <div class="cfr-small-text">
                            @{ var category = Model.Categories.FirstOrDefault(c => c.Id == recipe.CategoryID);}
                            <div class="cat-name">@category.Name</div>
                            <h6> @recipe.Title </h6>
                            <small class="text-muted">de @recipe.Author.Name pe @recipe.CreatedDate</small>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Categories Feature Recipe Section End -->
