
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@model Culinary_connect_web.DTO.RecipesListDTO

<!-- Page Top Recipe Section Begin -->
<section class="page-top-recipe">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <div class="pt-recipe-item large-item">
                    @foreach (var recipe in Model.RecipeList.Take(1))
                    {
                        <div class="pt-recipe-img set-bg" data-setbg=@Url.Content("~/Content/Images/" + recipe.ImagePath)>
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="pt-recipe-text">
                            <span>@recipe.CreatedDate</span>
                            <h3>@recipe.Title</h3>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-3 col-md-6 order-lg-1">
                @foreach (var recipe in Model.RecipeList.Skip(1).Take(2))
                {
                    <div class="pt-recipe-item">
                        <div class="pt-recipe-img set-bg" data-setbg=@Url.Content("~/Content/Images/" + recipe.ImagePath)>
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="pt-recipe-text">
                            <h4>@recipe.Title</h4>
                        </div>
                    </div>
                }

            </div>
            <div class="col-lg-3 col-md-6 order-lg-3">
                @foreach (var recipe in Model.RecipeList.Skip(3).Take(2))
                {
                    <div class="pt-recipe-item">
                        <div class="pt-recipe-img set-bg" data-setbg=@Url.Content("~/Content/Images/"+recipe.ImagePath)>
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="pt-recipe-text">
                            <h4>@recipe.Title</h4>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Page Top Recipe Section End -->

<section class="top-recipe spad">
    <div class="section-title">
        <h5>Top rețete ale săptămânii</h5>
    </div>
    <div class="container po-relative">
        <div class="plus-icon">
            <i class="fa fa-plus"></i>
        </div>
        <div class="row">
            @if (Model.RecipeList.Any())
            {
                var primaReteta = Model.RecipeList.First();
                <div class="col-lg-6">
                    <div class="top-recipe-item large-item">
                        <div class="top-recipe-img set-bg" data-setbg="@Url.Content("~/Content/Images/"+ primaReteta.ImagePath)">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="top-recipe-text">
                            <div class="cat-name">@primaReteta.CategoryID</div>
                            <a href="#"><h4>@primaReteta.Title</h4></a>
                            <p>@primaReteta.AboutRecipe.Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    @foreach (var reteta in Model.RecipeList.Skip(1))
                    {
                        <div class="top-recipe-item">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="top-recipe-img set-bg" data-setbg="@Url.Content("~/Content/Images/" +reteta.ImagePath)">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="top-recipe-text">
                                        <div class="cat-name">@reteta.CategoryID</div>
                                        <a href="#"><h4>@reteta.Title</h4></a>
                                        <p>@reteta.AboutRecipe.Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</section>

<!-- Categories Filter Section Begin -->
<div class="categories-filter-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="filter-item">
                    <ul>
                        <li data-filter="*">Vegetariene</li>
                        <li data-filter=".mostpopular">Populare</li>
                        <li data-filter=".meatlover">Carne</li>
                        <li data-filter=".glutenfree">Fără gluten</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cf-filter" id="category-filter">
            <div class="cf-item mix all mostpopular">
                <div class="cf-item-pic">
                    <img src=@Url.Content("~/Content/Images/cate-filter/cate-filter-1.jpg") alt="">
                </div>
                <div class="cf-item-text">
                    <h5>Brunch de duminică</h5>
                </div>
            </div>
            <div class="cf-item mix all mostpopular">
                <div class="cf-item-pic">
                    <img src=@Url.Content("~/Content/Images/cate-filter/cate-filter-2.jpg") alt="">
                </div>
                <div class="cf-item-text">
                    <h5>Brunch de duminică</h5>
                </div>
            </div>
            <div class="cf-item mix all meatlover mostpopular">
                <div class="cf-item-pic">
                    <img src=@Url.Content("~/Content/Images/cate-filter/cate-filter-3.jpg") alt="">
                </div>
                <div class="cf-item-text">
                    <h5>Brunch de duminică</h5>
                </div>
            </div>
            <div class="cf-item mix all meatlover">
                <div class="cf-item-pic glutenfree">
                    <img src=@Url.Content("~/Content/Images/cate-filter/cate-filter-4.jpg") alt="">
                </div>
                <div class="cf-item-text">
                    <h5>Brunch de duminică</h5>
                </div>
            </div>
            <div class="cf-item mix all meatlover glutenfree">
                <div class="cf-item-pic">
                    <img src=@Url.Content("~/Content/Images/cate-filter/cate-filter-5.jpg") alt="">
                </div>
                <div class="cf-item-text">
                    <h5>Brunch de duminică</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Categories Filter Section End -->
<!-- Feature Recipe Section Begin -->
<section class="feature-recipe">
    <div class="section-title">
        <h5>Featured Recipes</h5>
    </div>
    <div class="container po-relative">
        <div class="plus-icon">
            <i class="fa fa-plus"></i>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="fr-item">
                    <div class="fr-item-img">
                        <img src=@Url.Content("~/Content/Images/feature-1.jpg") alt="">
                    </div>
                    <div class="fr-item-text">
                        <h4>Brunch de duminică</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="fr-item">
                    <div class="fr-item-img">
                        <img src=@Url.Content("~/Content/Images/feature-2.jpg") alt="">
                    </div>
                    <div class="fr-item-text">
                        <h4>Brunch de duminică</h4>
                        <p>
                            Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Quis ipsum suspendisse ultrices gravida.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Recipe Section End -->
