@model culinaryConnect.Domain.Entities.Recipe.RecipesPageModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="container">
    @if (Model != null && Model.RecipeList != null && Model.RecipeList.Count > 0)
    {
        foreach (var recipe in Model.RecipeList)
        {
            if (recipe.Author.ID == (int)Session["UserID"])
            {
              <div class="card p-2">
                  <div class="mb-2">
                      <h4 class="mb-2 font-weight-bold">@recipe.Title</h4>
                      <div>
                          @recipe.AboutRecipe.Description
                      </div>
                  </div>
                  <div class="mt-3">
                      <a class="btn btn-outline-secondary btn-sm me-2" href="@Url.Action("Index", "Recipe", new { id = recipe.Id })">
                          Vizualizează rețeta
                      </a>
                      <a class="btn btn-outline-primary btn-sm me-2" href="@Url.Action("Edit", "Account", new { id = recipe.Id })">
                          Modifică
                      </a>
                      <a class="btn btn-outline-danger btn-sm" href="@Url.Action("Delete", "Account", new { id = recipe.Id })"
                         onclick="return confirm('Sunteți sigur că doriți să ștergeți rețeta?');">
                          Șterge
                      </a>
                  </div>
              </div>
            }
            
        }
    }
</div>